// $secondaryColor: #6dd6d6;
$secondaryColor: #76c7c0;
$secondaryHoverColor: #528b86;
$primaryColor: #d23a30;
$primaryHoverColor: #c02116;
$lightPinkColor: #fce5f0;

$errorColor: #ff5a5f;
$successColor: #28a745;
$warningColor: #ffa500;
$inputBackground: #f2f0f0;

$defaultTransition: all 0.5s ease-in-out;
